.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head input {
  border: none;
  font-family: Panama, Helvetica, sans-serif;
  background: white;
  /*padding: 1em;*/
  padding-left: 1em;
  /*margin-bottom: 0.5em;*/
  color: rgb(20, 160, 197);
  font-size: 3em;
  font-weight: normal;
}

.resize-container {
  height: 100vh;
}

.resize-container p {
	text-align: center;
	font-size: 2em;
}

.resize-dragNote {
  background: white;
  border: 2px solid rgb(20, 160, 197);
  color: black;
  font-size: 1em;
  font-family: sans-serif;
  position: absolute;
  z-index: 0;
  display: flex;
  overflow-y: scroll;

  /* This makes things *much* easier */
  box-sizing: border-box;
}


.resize-drag {
  background: white;
  color: black;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 8px;
  position: absolute;
  z-index: 0;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.drop-active {
  opacity: 1;
}
.can-drop {
  opacity: 0.5;
}
