.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head input {
  border: none;
  font-family: Panama, Helvetica, sans-serif;
  background: white;
  /*padding: 1em;*/
  padding-left: 1em;
  /*margin-bottom: 0.5em;*/
  color: rgb(20, 160, 197);
  font-size: 3em;
  font-weight: normal;
}

.resize-container {
  height: 100vh;
}

.resize-container p {
	text-align: center;
	font-size: 2em;
}
