
.popup {
  width: 70vw;
  height: 90vh;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: default;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.popupContainer {
  width: 100%;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popupMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.popupMenu li {
   font-size: 2em;
   color: rgb(20, 160, 197) !important;
   padding: 0em 3em 0.5em 3em;
   border-bottom: 2px solid #fff133;
   cursor: pointer;
 }
.popupMenu li:hover {
   border-bottom: 2px solid #ff0043 !important;
}


.popupImageProviders {
  margin: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  -moz-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  align-items: center;
  padding: 2em 0 2em 0;
  width: 80%;
}

.popupImageProviders .notAvailable {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 5em;
}

.dropzoneContainer {
  width: 100%;
}

.dropzone {
  border: none!important;
}


.popupAddImageUrl {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  -moz-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  align-items: center;
  margin: 2em;
  width: 80%;
}

.popupDragAndDrop {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  -moz-box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  box-shadow: 0px 0px 48px -13px rgba(120,120,120,0.3);
  align-items: center;
  margin: 2em;
  width: 80%;
}

.popupImage {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popupDragAndDrop {

}

.popupDragAndDrop img {
  padding: 1em;
}

.popupContainer button {
  border: none;
  color: white;
  display: block;
  background: rgb(20, 160, 197);
  padding: 0.5em;
  width: 50%;
  cursor: pointer;
  font-size: 1.2em;
  font-family: Panama;
  font-weight: bold;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.popupText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
